
    <section class="box-with-image-left section-top-space">
    
        <div class="center">

            <div class="image" style="background-image: url( 'assets/VehiculoDetalle.jpg' );">
            </div>

            <div class="content">

                <h3>Cotice su vehiculo!</h3>
                <h2>Seguros de vehiculos</h2>
                
                <p>Ponemos a tu disposición nuestros planes de Vehículos de Motor, diseñados para brindarte excelentes productos, coberturas ampliadas y el más completo respaldo ante situaciones imprevistas.</p>
                
                <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="car-insurance">Cotice ahora!<i class="fa fa-paper-plane-o"></i></button>
                
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>
    
    <section class="tabs section-gray">
    
        <div class="center">
        
            <ul class="tabs-selector">
            
                <li>
                
                    <i class="fa fa-car"></i>
                    <span>Seguros Banreservas</span>
                
                </li>
                
                <li>
                
                    <i class="fa fa-car"></i>
                    <span>Seguros Constitucion</span>
                
                </li>
            
            </ul>
            
            <div class="content">
            
                <div class="content-tab-single">
            
                    <i class="fa fa-car background-icon"></i>
                    
                    <h2>Seguros Banreservas</h2>
                    <p>Seguros Banreservas pone a tu disposición sus planes de Vehículos de Motor, diseñados para brindarte excelentes productos, coberturas ampliadas y el más completo respaldo ante situaciones imprevistas.
Además de la indemnización por los daños físicos a tu vehículo y la responsabilidad civil frente a terceros, podrás disfrutar de todas las ventajas de Rescate 365, que te provee servicios de asistencia vial durante tus viajes en territorio nacional, garantizando tu protección y la de los tuyos los 365 días del año.</p>
                    
                
                    <div class="insurance-params">
                    
                        <div class="important-number">
                        
                            <span class="notice-top">Desde</span>
                            <span class="number">$25,000</span>
                        
                        </div>
                        
                        <table class="params">
                    
                            <tr>
                            
                                <td>Daños a la Propiedad Ajena:</td>
                                <td>Desde $500,000 to $1,000,000</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Lesiones o Muerte 1 Persona:</td>
                                <td>$500,000</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Fianza Judicial:</td>
                                <td>Desde 1,000,000 - 2,000,000</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Daños materiales:</td>
                                <td>100% valor asegurado</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Rotura Accidental de Cristales:</td>
                                <td>Limite $80,000</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Deducible:</td>
                                <td>1% Valor Asegurado</td>
                            
                            </tr>
    
                        </table>
                        
                        <div class="clear">
                        </div>
                    
                    </div>
                
                </div>
                
                <div class="content-tab-single">
            
                    <i class="fa fa-user background-icon"></i>
                    
                    <h2>Seguros Constitucion</h2>
                    <p>
                        Consti Auto garantiza la indemnización al Asegurado por las pérdidas o daños sufridos debido a accidentes que ocurran dentro del período de vigencia. 

Consti Auto cuenta con dos partes principales: la que cubre los daños físicos del propio vehículo y la que cubre la responsabilidad civil del Asegurado frente a terceros por daños a la propiedad ajena y por lesiones a personas, que cause asistencia legal en caso de reclamación.  La responsabilidad legal frente a pasajeros se cubre separadamente. 

Adicionalmente se ofrecen otras coberturas como fianza judicial, compensación por lesiones accidentales del conductor o peatones, gastos médicos, entre otros. Consti Auto además te ofrece, además, tres deducibles: 3% deducible (con un 25% de descuento); 2% deducible (con un 15% de descuento) y 0% deducible con la contratación de Max Protect.

                    </p>
                    
                    
                    <div class="insurance-params">
                    
                        <div class="important-number">
                        
                            <span class="notice-top">Desde</span>
                            <span class="number">$20,000</span>
                        
                        </div>
                        
                        <table class="params">
                    
                            <tr>
                            
                                <td>Colisión y/o volcadura:</td>
                                <td>Incluido</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Rotura Accidental de Cristales:</td>
                                <td>100%</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Accidentes Personales Conductor:</td>
                                <td>Incluido</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Gastos Médicos:</td>
                                <td>Incluido</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Accidentes  Personales peatón:</td>
                                <td>Incluido</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Servicio de Grúas:</td>
                                <td>Incluido</td>
                            
                            </tr>
    
                        </table>
                        
                        <div class="clear">
                        </div>
                    
                    </div>
                
                </div>
                
                <div class="content-tab-single">
            
                    <i class="fa fa-taxi background-icon"></i>
                    
                    <h2>Taxi insurance</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis neque vitae diam interdum, cursus egestas tortor porta. Nulla rutrum eros metus, ac tempor eros vehicula sed. Nam lobortis semper pretium. Cras nec felis a ligula porta gravida. Sed pretium lectus gravida orci cursus, eget convallis ipsum ultrices.</p>
                    
                    <div class="insurance-params">
                    
                        <div class="important-number">
                        
                            <span class="notice-top">from</span>
                            <span class="number">$149.00</span>
                        
                        </div>
                        
                        <table class="params">
                    
                            <tr>
                            
                                <td>Level of Protection:</td>
                                <td>from $25.000 to $1.000.000</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Grace Period:</td>
                                <td>up to 30 days</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Hotline Assistance:</td>
                                <td>24-Hour</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Policy Modification:</td>
                                <td>Online</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Car windows insured:</td>
                                <td>Yes</td>
                            
                            </tr>
                            
                            <tr>
                            
                                <td>Lorem ipsum dolor:</td>
                                <td>Sit amet</td>
                            
                            </tr>
    
                        </table>
                        
                        <div class="clear">
                        </div>
                    
                    </div>
                
                </div>
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>
    
    <!--<section class="box-with-image-right">
    
        <div class="center">

            <div class="content">

                <h2>Peaceful holidays</h2>
                
                <p>Sed molestie, eros et tempor eleifend, tortor justo ultricies odio, ut viverra est sem eget augue. Ut volutpat lectus vel arcu euismod scelerisque. Aliquam sollicitudin aliquet nisl ut faucibus.</p>
                <p>Etiam id ante est. Aenean pellentesque quam vel purus tincidunt tristique. Integer arcu nibh, tempus id ultricies ut, vulputate nec nunc. Etiam elit elit, commodo at interdum sed. Cras accumsan dignissim neque et pulvinar.</p>
                
                <ul class="documents">
                
                    <li class="document document-pdf">
                    
                        <i class="fa fa-file-pdf-o"></i>
                        <a href="#">General Insurance Conditions</a>
                        <span>Document size: 34kb</span>
                    
                        <div class="clear">
                        </div>
                    
                    </li>
                
                </ul>

            </div>
            
            <div class="image" style="background-image: url( '_assets/_img/image.png' );">
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>-->
    
    <!--<section class="contact section-gray">
    
        <div class="center">
        
            <i class="fa fa-envelope-o background-icon"></i>
            <div class="contact-details">

                <div class="contact-detail-single">
                
                    <h3><i class="fa fa-map-marker"></i> Company informations</h3>
                    <p><strong>Insurance Agency</strong><br /> John Doe</p>
                    <p class="without-margin-bottom">5002 Example Street<br /> Los Angeles, CA 90034</p>
                     
                </div>

                <div class="contact-detail-single">
                
                    <h3><i class="fa fa-envelope-o"></i> Contact details</h3>
                    <p>E-mail address: <br /><a href="#">contact@insuranceagency.com</a></p>     
                    <p class="without-margin-bottom"><button class="button button-navy-blue" data-action="show-contact-popup">Contact us! <i class="fa fa-paper-plane-o"></i></button></p>
                
                </div>
                
                <div class="contact-detail-single contact-detail-single-last">
                
                    <h2>(+123) 456 789 000</h2> 
                    <p>Available 8:00am - 4:00pm</p> 
                
                </div>
            
            </div>

        </div>
    
    </section>-->
