<h1>Javier Lopez y Asociados</h1>

<p>Hola <%= @segurosSalud.name %>,</p>

<p>
  Muchas gracias por contactar Javier Lopez Seguros, le estaremos enviando 
  la cotizacion solicitada en el menor tiempo posible.
</p>
