<section class="box-with-image-left section-top-space bootstrap">
    <h1>Listado de Farmacias</h1> 

    <table id="tblfarmacias" class="table table-striped dataTable">
        <thead>
            <tr>
                <th>
                    Farmacia
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Ubicacion
                </th>
            </tr>
        </thead>
    <% @farmacias.each do |farmacia| %>
       <tr>
           <td> <%= farmacia.nombre %> </td>
           <td> <%= farmacia.telefono %> </td>
           <td> <%= farmacia.direccion %> </td>
           <td> <%= farmacia.ubicacion%> </td>
       </tr>
    <% end %>
 </table>   
 
</section>

<!--<div class="bootstrap" style="text-align:center"; >
    
</div>-->